{% extends "base.html" %}
{% block content %}

<form method="get" class="filters">
    <input type="text" name="search" placeholder="Buscar por nombre o apellido">

    <select name="curso">
        <option value="">Todos los cursos</option>
        {% for c in cursos %}
            <option value="{{ c['curso'] }}">{{ c['curso'] }}</option>
        {% endfor %}
    </select>

    <button type="submit">Buscar</button>
    <a href="/add" class="btn">➕ Nueva inscripción</a>
</form>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Curso / Taller</th>
            <th>Turno</th>
            <th>Perfil</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
    {% for i in inscripciones %}
        <tr>
            <td>{{ i.nombre }}</td>
            <td>{{ i.apellido }}</td>
            <td>{{ i.dni }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.telefono }}</td>
            <td>{{ i.curso }}</td>
            <td>{{ i.turno }}</td>
            <td>{{ i.perfil }}</td>
            <td>
                <a href="{{ url_for('edit', id=i.id) }}">✏️ Editar</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
