<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Iniciar sesión</h2>

    <form method="post">
        <input type="text" name="usuario" placeholder="Usuario" required>
        <input type="password" name="contraseña" placeholder="Contraseña" required>
        <button type="submit">Ingresar</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert">
                {% for m in messages %}
                    <p>{{ m }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>

</body>
</html>
